<!DOCTYPE html>
<html style="height: 100%">
    <head>
        <title >Test</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="../src/css/gameplay.css">

        <!--createjs-->
        <script src="../bower_components/EaselJS/lib/easeljs-0.8.2.min.js"></script>
        <script src="../bower_components/TweenJS/lib/tweenjs-0.6.2.min.js"></script>
        <script src="../bower_components/SoundJS/lib/soundjs-0.6.2.min.js"></script>
        <script src="../bower_components/PreloadJS/lib/preloadjs-0.6.2.min.js"></script>

        <!--jQuery-->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        
        <!--underscore-->
        <script src="../bower_components/underscore/underscore.js"></script>
        
        <!--EventEmitter-->
        <script src="../bower_components/eventEmitter/EventEmitter.js"></script>
        
        <!--md5-->
        <script src="../libs/md5.js"></script>
        <script src="../libs/Global.js"></script>

        <!--gbjs-->
        <script src="../src/events/Observer.js"></script>
        <script src="../src/logic/TLMNLogic.js"></script>
        <script src="../src/display/Card.js"></script>
        <script src="../src/display/CardTL.js"></script>
        <script src="../src/display/CardPhom.js"></script>
        <script src="../src/display/Desk.js"></script>
        <script src="../src/display/Timer.js"></script>
        <script src="../src/display/Player.js"></script>
        <script src="../src/game/BaseGame.js"></script>
        <script src="../src/game/InRoomGame.js"></script>
        <script src="../src/game/TLMNDemlaGame.js"></script>
    </head>
    <body style="background: url(../src/images/bg.png) center no-repeat; background-size: cover" class='twist'>
        <div class="wrapper" style="text-align: center;position : absolute">
            <canvas id="testCanvas" width="1000" height="580" style="border : 1px solid red; background: url(../src/images/Desk-bg.png) 143px 55px no-repeat"  ></canvas>
            <div class="error-panel" style="position: absolute;left: 200px; top : 200px; text-align: center; width: 600px"></div>
            <div class="button-bar">
                <div class="button fist green" id="start-button">Bắt đầu</div>
                <div class="button fourth red" id="fold-turn">Bỏ lượt</div>
                <div class="button third blue" id="sort-card">Xắp xếp</div>
                <div class="button second yellow" id="hit-card">Đánh bài</div>
            </div>

            <div id="result-panel">
                <div class="game-result" ng-init="gameResult.data">
                    <div class="global-mask" ng-click="closeResult()"></div>
                    <div class="game-result-popup">
                        <div class="popup-inner">

                            <div class="popup-header">

                                <div class="popup-header-inner">
                                    Tổng kết ván đánh
                                    <div ng-click="closeResult()" class="close-popup"></div>
                                </div>
                            </div>
                            <div class="popup-content" ng-init="userList = gameResult.data.listPlayers">

                                <div class="iscroll-on">
                                    <div class="iscroll-wrapper" iscroll style="height:412px; color: #777">
                                        <div class="iscroll-scroller">
                                            <div class="result-item" ng-repeat="user in gameResult.data.listPlayers">
                                                <div class="result-item-info">
                                                    <div class="result-item-info-left">{{user.userName}}</div>
                                                    <div class="result-item-info-right">
                                                        <span >{{user.gameResultString}}</span>
                                                        <div class="user-result-string" ng-class="user.subMoney < 0 ? 'red-color' : 'green - color'">
                                                            {{user.subMoney|goldWithDot2}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="result-card-list-container">
                                                    <div ng-if="roomInfo.game.code != 'Phom'" class="result-item-card-list" ng-init="cardList = user.remainCards">
                                                        <div class="card card{{card|cardTL}}" ng-repeat="card in cardList">
                                                            <div class="card-dummy"></div>
                                                            <div class="card-image"></div>
                                                        </div>
                                                    </div>
                                                    <div ng-if="roomInfo.game.code == 'Phom'" class="result-item-card-list" ng-init="cardList = user.remainCards">
                                                        <div class="card card{{card}}" ng-repeat="card in cardList">
                                                            <div class="card-dummy"></div>
                                                            <div class="card-image"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div><!--.iscroll-scroller-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/test.js"></script>
    </body>
</html>