/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 18, 2016, 7:08:00 PM
    Author     : TungTD
*/

@keyframes error-remove { 
    0%{
        opacity: 1;
    }

    80%{
        opacity:0.3;
        font-size:40px;
    }
    100%{
        opacity:0;
        font-size:3px;
    }
}
.wrapper{
  -webkit-touch-callout: none;
  -webkit-user-select : none;
  font-family: Roboto;
}
.error-item {
    margin: 20px auto 0;
    animation-name : error-remove;
    animation-duration : 3s;
    animation-timing-function : linear;
    animation-iteration-count : 1;
    font-size: 40px;
    color: #ffea02;
    font-style: italic;
}
.button-bar{
    position: absolute;
    left:  0;
    width: 100%;
    bottom: 80px;
    text-align: center;
}
.button{
    display: inline-block;
    border : 1px solid;
    border-radius : 5px;
    line-height: 38px;
    font-size: 16px;
    vertical-align: middle;
    text-align: center;
    width: 118px;
    margin-right: 8px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: text-shadow 0.3s linear,color 0.3s linear;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
}
.button.fist{
    right: 100px;
}
.button.second{
    right: 235px;
}
.button.third{
    right: 370px;
}
.button.fourth{
    right: 505px;
}
.button.red{
    color:  rgba(255,118,118,0.5);
    border-color:  rgb(255,118,118);
    background-image: linear-gradient(rgba(255,118,118,0.1),transparent,rgba(255,118,118,0.1));
    text-shadow : 0 0 20px rgba(255,255,255,0.5), 0 0 20px rgba(255,118,118,0.5);
}
.button.red:active{
    color : rgba(255,255,255,0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(255,118,118,0.5), 
        0 0 35px rgba(255,118,118,0.5), 0 0 40px rgba(255,118,118,0.5), 0 0 50px rgba(255,118,118,0.5), 0 0 75px rgba(255,118,118,0.5);
}
.button.blue{
    color:  rgba(32,187,252,0.5);
    border-color:  rgba(32,187,252,0.5);
    background-image: linear-gradient(rgba(32,187,252,0.1),transparent,rgba(32,187,252,0.1));
    text-shadow : 0 0 20px rgba(32,187,252,0.5), 0 0 20px rgba(32,187,252,0.5);
}
.button.blue:active{
    color : rgba(255,255,255,0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(32,187,252,0.5), 
        0 0 35px rgba(32,187,252,0.5), 0 0 40px rgba(32,187,252,0.5), 0 0 50px rgba(32,187,252,0.5), 0 0 75px rgba(32,187,252,0.5);
}
.button.yellow{
    color:  rgba(254,206,47,0.5);
    border-color:  rgba(254,206,47,0.5);
    background-image: linear-gradient(rgba(254,206,47,0.1),transparent,rgba(254,206,47,0.1));
    text-shadow : 0 0 20px rgba(254,206,47,0.5), 0 0 20px rgba(254,206,47,0.5);
    margin-left: 0;
}
.button.yellow:active{
    color : rgba(255,255,255,0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(254,206,47,0.5), 
        0 0 35px rgba(254,206,47,0.5), 0 0 40px rgba(254,206,47,0.5), 0 0 50px rgba(254,206,47,0.5), 0 0 75px rgba(254,206,47,0.5);
}
.button.green{
    color:  rgba(20,210,50,0.5);
    border-color:  rgba(20,210,50,0.5);
    background-image: linear-gradient(rgba(20,210,50,0.1),transparent,rgba(20,210,50,0.1));
    text-shadow : 0 0 20px rgba(20,210,50,0.5), 0 0 20px rgba(20,210,50,0.5);
}
.button.green:active{
    color : rgba(255,255,255,0.5);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgba(20,210,50,0.5), 
        0 0 35px rgba(20,210,50,0.5), 0 0 40px rgba(20,210,50,0.5), 0 0 50px rgba(20,210,50,0.5), 0 0 rgba(20,210,50,0.5);
}