.card{
    width: 45.91px;
    height: 60px;
    vertical-align: top;
    display: inline-flex;
    margin-left: -10px;
    background-size: cover;
}
.card0{background-image: url('#{$twistImagePath}card/8.png')}
.card1{background-image: url('#{$twistImagePath}card/9.png')}
.card2{background-image: url('#{$twistImagePath}card/10.png')}
.card3{background-image: url('#{$twistImagePath}card/11.png')}
.card4{background-image: url('#{$twistImagePath}card/12.png')}
.card5{background-image: url('#{$twistImagePath}card/13.png')}
.card6{background-image: url('#{$twistImagePath}card/14.png')}
.card7{background-image: url('#{$twistImagePath}card/15.png')}
.card8{background-image: url('#{$twistImagePath}card/16.png')}
.card9{background-image: url('#{$twistImagePath}card/17.png')}
.card10{background-image: url('#{$twistImagePath}card/18.png')}
.card11{background-image: url('#{$twistImagePath}card/19.png')}
.card12{background-image: url('#{$twistImagePath}card/20.png')}
.card13{background-image: url('#{$twistImagePath}card/21.png')}
.card14{background-image: url('#{$twistImagePath}card/22.png')}
.card15{background-image: url('#{$twistImagePath}card/23.png')}
.card16{background-image: url('#{$twistImagePath}card/24.png')}
.card17{background-image: url('#{$twistImagePath}card/25.png')}
.card18{background-image: url('#{$twistImagePath}card/26.png')}
.card19{background-image: url('#{$twistImagePath}card/27.png')}
.card20{background-image: url('#{$twistImagePath}card/28.png')}
.card21{background-image: url('#{$twistImagePath}card/29.png')}
.card22{background-image: url('#{$twistImagePath}card/30.png')}
.card23{background-image: url('#{$twistImagePath}card/31.png')}
.card24{background-image: url('#{$twistImagePath}card/32.png')}
.card25{background-image: url('#{$twistImagePath}card/33.png')}
.card26{background-image: url('#{$twistImagePath}card/34.png')}
.card27{background-image: url('#{$twistImagePath}card/35.png')}
.card28{background-image: url('#{$twistImagePath}card/36.png')}
.card29{background-image: url('#{$twistImagePath}card/37.png')}
.card30{background-image: url('#{$twistImagePath}card/38.png')}
.card31{background-image: url('#{$twistImagePath}card/39.png')}
.card32{background-image: url('#{$twistImagePath}card/40.png')}
.card33{background-image: url('#{$twistImagePath}card/41.png')}
.card34{background-image: url('#{$twistImagePath}card/42.png')}
.card35{background-image: url('#{$twistImagePath}card/43.png')}
.card36{background-image: url('#{$twistImagePath}card/44.png')}
.card37{background-image: url('#{$twistImagePath}card/45.png')}
.card38{background-image: url('#{$twistImagePath}card/46.png')}
.card39{background-image: url('#{$twistImagePath}card/47.png')}
.card40{background-image: url('#{$twistImagePath}card/48.png')}
.card41{background-image: url('#{$twistImagePath}card/49.png')}
.card42{background-image: url('#{$twistImagePath}card/50.png')}
.card43{background-image: url('#{$twistImagePath}card/51.png')}
.card44{background-image: url('#{$twistImagePath}card/0.png')}
.card45{background-image: url('#{$twistImagePath}card/1.png')}
.card46{background-image: url('#{$twistImagePath}card/2.png')}
.card47{background-image: url('#{$twistImagePath}card/3.png')}
.card48{background-image: url('#{$twistImagePath}card/4.png')}
.card49{background-image: url('#{$twistImagePath}card/5.png')}
.card50{background-image: url('#{$twistImagePath}card/6.png')}
.card51{background-image: url('#{$twistImagePath}card/7.png')}